{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %}
{% block content %}
	{% include "components/mainSlider.html" %}

	{% include "components/consultation/consultation.html" %}

	{% include "components/subscribe.html" %}

	{% include "components/whyBlock.html" %}
	{% include "components/services.html" %}
	{% include "components/collective.html" %}
	{% include "components/med.html" %}
	{% include "components/studio.html" %}
	{% include "components/footer.html" %}

{% endblock %}
