<div class='collective-wrapper'>
	<div class='container'>
		<div class='collective-title'>
			Коллектив
		</div>
		<div class='collective-carousel' data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
			{% if city === msc %}
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/1.jpg' alt=''>
				</div>
				<div class='col-prof'>

				</div>
				<div class='col-name'>
					Дарья Мажарина
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					#Dmagarina мастер с высшим художественным образованием. Дарья очень внимательно и отзывчиво относится к каждому своему клиенту,
					всегда готова ответить на все ваши вопросы. Доброжелательная, вежливая, очень внимательно относится к своей работе.
				</div>
			</div>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/2.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Асия Бегбага
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					#Abegbaga - мастер с художественным образованием. Молодой специалист, но с особой склонностью к сосредоточенной работе. Легкая
					в общении и индивидуальным подходом к каждому клиенту.Кропотливо подберёт идеальную форму, с учётом пожеланий и личных
					особенностей.
				</div>
			</div>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/3.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Настасья Орлова
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Самый молодой, решительный и ответственный специалист с художественным образованием, тонким чувством прекрасного и любовью
					к моде. Всегда внимательно относится к пожеланиям клиентов и воплощает их строго в соответствии с классическими канонами...
					Подчеркивает выразительные черты лица клиентки в соответствии с актуальными тенденциями татуажа.
				</div>
			</div>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/4.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Елизавета Пучкова
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Мастер с высшим художественным образованием. Наш самый позитивный и жизнерадостный мастер. Легкая в общении с прекрасным
					чувством юмора. Елизавета найдет общий язык с любым клиентом, она всегда готова придти к вам на помощь в погоне за идеальным
					образом.
				</div>
			</div>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/5.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Юлия Лунина
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Художник и человек с образованием в области косметологии. Поэтому она может не только сделать вам красивый татуаж, но ещё
					и дать множество ценных советов по уходу за собой во время процедуры. Наблюдать за работой нашего мастера - одно удовольствие,
					так как видно, как в её руках происходит настоящее волшебство, а общение с ней просто завораживает
				</div>
			</div>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/6.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Виктория Белоновская
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Чудесный мастер с ярким индивидуальным стилем и художественным образованием. В исполнении работ аккуратна и дисциплинированна,
					к клиентам чуткая и внимательная. Вика не только подчеркнёт вашу природную красоту, но и внесёт в неё свою тонкую нотку
					неповторимого стиля.
				</div>
			</div>
			{% endif %} {% if city === ekb %}
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/1.jpg' alt=''>
				</div>
				<div class='col-prof'>

				</div>
				<div class='col-name'>
					Александра Орлова
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Александра Орлова #Alorlova профессиональный мастер перманентного макияжа. Она с радостью вам поможет, подскажет, скорректирует.Александра
					опирается не только на ваше субъективное мнение, но и на законы эстетики, гармонии, визажа и колористики.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/2.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Татьяна Бондаренко
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Татьяна Бондаренко #Tbondarenko. Имея большой опыт в оформлении бровей, всегда сможет подобрать Вам идеальную форму, не забывая
					и про пожелания клиентов.Заботливо проинформирует об этапах процедуры и про дальнейший уход за татуажем.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/3.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Наталья Кубышкина
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Наталья Кубышкина #Nkubushkina общительный и внимательный мастер. Найдет подход к самым разным клиенткам. Скурпулезно выполнит
					татуаж и выслушает все пожелания. Дополнит ваш образ естественным татуажем. Наталья найдет идеальное сочетание между
					желанием и самой идеальной формой для клиентки.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/4.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Юлия Шалиева
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Юлия Шалиева #Jshalieva- мастер с художественным образованием. Наш самый добрый и деликатный мастер. Легко располагает к
					себе и находит общий язык с любым клиентом. Имея опыт визажиста качественно и безупречно выполняет свою работу.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/5.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Ксения Вольф
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Ксения Вольф #Kswolf прекрасный мастер, веселый и энергичный. У Ксении большой опыт работы визажистом, она прекрасно видит
					форму и подберет ту которая подойдет именно вам. Вы смело можете доверить свою внешность этому аккуратному и уверенному
					мастеру.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/6.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Татьяна Соболева
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Специалист с высшим художественным образованием. Татьяна обладает природным чувством стиля, умеет найти подход к каждому
					человеку и очень щепетильно относится к каждому клиенту.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/7.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Анастасия Лебедева
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Мастер с высшим художественным образованием и тонким эстетическим вкусом. Очень трепетно относиться к своим клиентам. Цель
					ее работы - подчеркнуть природную красоту клиентки и сделать образ наиболее привлекательным. Анастасия внимательный
					человек и аккуратный мастер.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/8.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Анастасия Горшкова
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Специалист с высшим художественным образованием. Ответственно подходит к выполнению работы, учитывает все ваши пожелания.
					Настя ищет во всем прекрасное, поэтому своими работами искренне пытается подчеркнуть природную красоту каждой клиентки.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/9.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Алина Новоселова
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Алина Новоселова - Специалист с медицинским образованием и опытом работы в медицине. Алина очень ответственный и аккуратный
					мастер. Всегда внимательно прислушивается к пожеланиям каждой клиентки и старается воплотить их в жизнь.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/10.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Надежда Павлюченко
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Специалист с медицинским образованием и с творческим подходом к работе. Надежда - молодой специалист, но с особой склонностью
					к сосредоточенной работе. Доброжелательная, вежливая, находит общий язык со всеми клиентами очень внимательно относится
					к своей работе.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/11.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Надежда Июльская
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Мастер с высшим художественным образованием. Внимательная, с хорошим эстетическим вкусом, доброжелательная и приятная в общении.
					Она создаст Вам незабываемый образ, который будет радовать Вас долгое время.
				</div>
			</div>
			<div class='col-item ekb'>
				<div class='col-img'>
					<img src='./images/collective/ekb/12.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Александра Пояркова
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Мастер с высшим художественным образованием. Александра - наш самый креативный мастер. Легкая в общении с искрометным юмором
					и индивидуальным подходом к каждому клиенту. Хотите яркий, незабываемый образ? Доверьтесь нашей Александре.
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>