<div class='collective-wrapper'>
	<div class='container'>
		<div class='collective-title'>
			Коллектив
		</div>
		<div class='collective-carousel' data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/master-2.png' alt=''>
				</div>
				<div class='col-prof'>
					мастер по татуажу
				</div>
				<div class='col-name'>
					Анастасия Лебедева
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Мастер с высшим художественным образованием и тонким эстетическим вкусом. Очень трепетно относиться к своим клиентам. Цель ее работы - подчеркнуть природную красоту клиентки и сделать образ наиболее привлекательным
				</div>
			</div>
		</div>
	</div>
</div>
