<div class='collective-wrapper'>
	<div class='container'>
		<div class='collective-title'>
			Коллектив
		</div>
		<div class='collective-carousel' data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/1.jpg' alt=''>
				</div>
				<div class='col-prof'>
				
				</div>
				<div class='col-name'>
					Дарья Мажарина
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					#Dmagarina мастер с высшим художественным образованием. Дарья очень внимательно и отзывчиво относится к каждому своему клиенту, всегда готова ответить на все ваши вопросы. Доброжелательная, вежливая, очень внимательно относится к своей работе.
				</div>
			</div>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/2.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Асия Бегбага
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					#Abegbaga - мастер с художественным образованием. Молодой специалист, но с особой склонностью к сосредоточенной работе. Легкая в общении и индивидуальным подходом к каждому клиенту.Кропотливо подберёт идеальную форму, с учётом пожеланий и личных особенностей.
				</div>
			</div>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/3.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Настасья Орлова
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Самый молодой, решительный и ответственный специалист с художественным образованием, тонким чувством прекрасного и любовью к моде. Всегда внимательно относится к пожеланиям клиентов и воплощает их строго в соответствии с классическими канонами... Подчеркивает выразительные черты лица клиентки в соответствии с актуальными тенденциями татуажа.
				</div>
			</div>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/4.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Елизавета Пучкова
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Мастер с высшим художественным образованием. Наш самый позитивный и жизнерадостный мастер. Легкая в общении с прекрасным чувством юмора. Елизавета найдет общий язык с любым клиентом, она всегда готова придти к вам на помощь в погоне за идеальным образом.
				</div>
			</div>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/5.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Юлия Лунина
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Художник и человек с образованием в области косметологии. Поэтому она может не только сделать вам красивый татуаж, но ещё и дать множество ценных советов по уходу за собой во время процедуры. Наблюдать за работой нашего мастера - одно удовольствие, так как видно, как в её руках происходит настоящее волшебство, а общение с ней просто завораживает
				</div>
			</div>
			<div class='col-item'>
				<div class='col-img'>
					<img src='./images/collective/6.jpg' alt=''>
				</div>
				<div class='col-prof'>
				</div>
				<div class='col-name'>
					Виктория Белоновская
				</div>
				<div class='col-sep'></div>
				<div class='col-text'>
					Чудесный мастер с ярким индивидуальным стилем и художественным образованием. В исполнении работ аккуратна и дисциплинированна, к клиентам чуткая и внимательная. Вика не только подчеркнёт вашу природную красоту, но и внесёт в неё свою тонкую нотку неповторимого стиля.
				</div>
			</div>
		</div>
	</div>
</div>
