<div class='signWrapper contacts-wrapper' id='link5'>
	<div class='container containerFlex'>
		<div class='leftSide'>
			<div class='contactsPhones'>
				<div class='contactPhoneWrapper'>
				<a href='tel:{{city.phone[0].phone}}' class='contactIcon contactPhone'>
					{{city.phone[0].phone}}
				</a></div><div class='contactPhoneWrapper'>
				<a href='tel:{{city.phone[0].phone1}}' class='contactIcon contactPhone'>
					{{city.phone[0].phone1}}
				</a></div>
			</div>
			<div class='contactInfo'>
				ООО "ЭВЕРЕСТ"
				ОГРН 1136671036039
				ИНН 6671437505
			</div>
		</div>
		<div class='rightSide'>
			<div class='contactIcon contactTime'>
				с 10.00 до 21.30 | без выходных
			</div>
			<a target='_blank' href='{{city.addressLink}}' class='contactIcon contactLoc'>
				{{city.address}}
			</a>
			<a target='_blank' href='{{city.addressLink1}}' class='contactIcon contactLoc'>
				{{city.address1}}
			</a>
		</div>
	</div>
</div>