<div class='signWrapper contacts-wrapper' id='link5'>
	<div class='container containerFlex'>
		<div class='leftSide'>
			<div class='contactsPhones'>
				<div class='contactPhoneWrapper'>
				<a href='tel:8-800 555 47 24' class='contactIcon contactPhone'>
					8-800 555 47 24
				</a></div><div class='contactPhoneWrapper'>
				<a href='tel:8-495 121 02 06' class='contactIcon contactPhone'>
					8-495 121 02 06
				</a></div>
			</div>
			<div class='contactInfo'>
				ООО "ЭВЕРЕСТ"
				ОГРН 1136671036039
				ИНН 6671437505
			</div>
		</div>
		<div class='rightSide'>
			<div class='contactIcon contactTime'>
				с 10.00 до 21.30 | без выходных
			</div>
			<a target='_blank' href='https://yandex.ua/maps/213/moscow/?lang=ru&ll=37.579762%2C55.781697&z=17&mode=search&text=Россия%2C%20Московская%20область%2C%20Москва%2C%20Москва%2C%20Ленинградсий%20проспект%2014%2F4&sll=30.523541%2C50.447130&sspn=0.592232%2C0.217907&ol=biz&oid=165858973156' class='contactIcon contactLoc'>
				Россия, Московская область, Москва, Москва, Ленинградсий проспект 14/4
			</a>
		</div>
	</div>
</div>