<div class='service-wrapper'>
    <div class='container'>
        <div class='service-title'>
			Отзывы наших клиентов
        </div>
        <div class='service-block_title'>
			Отзывы из Instagram
        </div>
	    <div class="feed-h20"></div>
	    <div class='instagram-carousel' data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
		    <img src='./images/feedback/4etvernya.png' alt=''>
		    <img src='./images/feedback/anastasiyaalisova7.png' alt=''>
		    <img src='./images/feedback/Annalovebmw.png' alt=''>
		    <img src='./images/feedback/christentti.png' alt=''>
		    <img src='./images/feedback/eshli_see.png' alt=''>
		    <img src='./images/feedback/Jeniashtefan.png' alt=''>
		    <img src='./images/feedback/lavraso_.png' alt=''>
		    <img src='./images/feedback/lyainanatalie.png' alt=''>
		    <img src='./images/feedback/miss_marzipanka.png' alt=''>
		    <img src='./images/feedback/puzanochka777.png' alt=''>
		    <img src='./images/feedback/redhead_shaman.png' alt=''>
		    <img src='./images/feedback/sonia_fedorova.png' alt=''>
		    <img src='./images/feedback/taneechkaa.png' alt=''>
		    <img src='./images/feedback/tomazhurkina.png' alt=''>
		    <img src='./images/feedback/vikakisa.png' alt=''>
	    </div>
	    <div class="feed-h20"></div>
	    <div class='service-block_title'>
			отзывы из ВКонтакте
        </div>
	    <div class="feed-h20"></div>
	    <div class='vk-carousel' data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
	    </div>
	    <div class="feed-h20"></div>
	    <div class='service-block_title'>
			видеоотзывы из Youtube
        </div>
	    <div class="feed-h20"></div>
	    <div class='youtube-carousel' data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
		    <div class='youtube-item' data-fancybox="youtube" href="https://www.youtube.com/embed/XG2TMiSdrgE">
				<img src='https://i.ytimg.com/vi/XG2TMiSdrgE/hqdefault.jpg' alt=''>
			    <div class='ytp-large-play-button-bg'>
			        <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#212121" fill-opacity="0.8"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
		        </div>
		    </div>
			<div class='youtube-item' data-fancybox="youtube" href="https://www.youtube.com/embed/g6IP0SadewE">
				<img src='https://i.ytimg.com/vi/g6IP0SadewE/hqdefault.jpg' alt=''>
							    <div class='ytp-large-play-button-bg'>
			        <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#212121" fill-opacity="0.8"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
		        </div>
			</div>
		    <div class='youtube-item' data-fancybox="youtube" href="https://www.youtube.com/embed/Bxa-eqXk4-k">
			    <img src='https://i.ytimg.com/vi/Bxa-eqXk4-k/hqdefault.jpg' alt=''>
			    			    <div class='ytp-large-play-button-bg'>
			        <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#212121" fill-opacity="0.8"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
		        </div>
		    </div>
		    <div class='youtube-item' data-fancybox="youtube" href="https://www.youtube.com/embed/Lpnh8hazNQg">
			    <img src='https://i.ytimg.com/vi/Lpnh8hazNQg/hqdefault.jpg' alt=''>
			    			    <div class='ytp-large-play-button-bg'>
			        <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#212121" fill-opacity="0.8"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
		        </div>
		    </div>
		    <div class='youtube-item' data-fancybox="youtube" href="https://www.youtube.com/embed/zPc5Z-X77M8">
			    <img src='https://i.ytimg.com/vi/zPc5Z-X77M8/hqdefault.jpg' alt=''>
			    			    <div class='ytp-large-play-button-bg'>
			        <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#212121" fill-opacity="0.8"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
		        </div>
		    </div>
		    <div class='youtube-item' data-fancybox="youtube" href="https://www.youtube.com/embed/xSSytAcpIrg">
			    <img src='https://i.ytimg.com/vi/xSSytAcpIrg/hqdefault.jpg' alt=''>
			    			    <div class='ytp-large-play-button-bg'>
			        <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#212121" fill-opacity="0.8"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
		        </div>
		    </div>
	    </div>
	</div>
</div>