<div class='footer-wrapper'>
	<div class='container'>
		<div class='how-work'>
			<div class='how-work-item'>
				<img src='./images/footer/1.png' alt=''>
				Оставляете
				заявку
			</div>
			<div class='how-work-item'>
				<img src='./images/footer/2.png' alt=''>
				Мы регистрируем
				вас
			</div>
			<div class='how-work-item'>
				<img src='./images/footer/3.png' alt=''>
				Вы получаете
				скидку
			</div>
		</div>
	</div>
	{% include "components/consultation/consultation.html" %}
	
	<div class='footer-text'>
		Студия татуажа Ирины Павловой © 2017 Все права защищены.
	</div>
</div>
