<div class='signWrapper vkFolio' id='link1'>
	<div class='container'>
		<div class='vkFolio-block'>
			<div class='folioBanner bOne'>
				<div class='folioBanner-title'>
					Татуаж бровей
				</div>
				<div class='folioBanner-price'>
					от 2 500.-
				</div>
				<button class='button bFolio'>Забронировать</button>
			</div>
			<div class='vkFolio-wrapper' id='vkFolioBrow'></div>
		</div>
		
		<div class='vkFolio-block'>
			<div class='folioBanner bTwo'>
				<div class='folioBanner-title'>
					Татуаж Губ
				</div>
				<div class='folioBanner-price'>
					от 3 500.-
				</div>
				<button class='button bFolio'>Забронировать</button>
			</div>
			<div class='vkFolio-wrapper' id='vkFolioLips'></div>
		</div>
		
		<div class='vkFolio-block'>
			<div class='folioBanner bThree'>
				<div class='folioBanner-title'>
					Татуаж век
				</div>
				<div class='folioBanner-price'>
					от 3 500.-
				</div>
				<button class='button bFolio'>Забронировать</button>
			</div>
			<div class='vkFolio-wrapper' id='vkFolioEye'></div>
		</div>
	</div>
</div>

