<div class='med-wrapper'>
	<div class='container'>
		<div class='med-title'>
			Мы являемся медицинским учреждением
		</div>
		<div class='med-descr'>
			Доверяйте свою красоту только профессионалам с медицинским образованием
		</div>
		<div class='fancy-box'>
			<div class='med-image' data-fancybox='med' data-type="image" href='./images/med/scan1.jpg'>
				<img src='./images/med/doc-1.jpg' alt=''>
			</div>
			<div class='med-image' data-fancybox='med' data-type="image" href='./images/med/scan2.jpg'>
				<img src='./images/med/doc-2.jpg' alt=''>
			</div>
			<div class='med-image' data-fancybox='med' data-type="image" href='./images/med/scan3.jpg'>
				<img src='./images/med/doc-3.jpg' alt=''>
			</div>
		</div>
	</div>
</div>