<div class="service-wrapper" id='id2'>
    <div class="container">
        <div class="service-title">
            Наши услуги
        </div>
        <div class="service-block_title">
            Татуаж бровей
        </div>
        <div class="service-block">
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyebrow/1.png" alt="">
                </div>
                <div class="button service-el_button">
                    Татуаж бровей
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyebrow/2.png" alt="">
                </div>
                <div class="button service-el_button">
                    3D татуаж бровей
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyebrow/3.png" alt="">
                </div>
                <div class="button service-el_button">
                    Волосковый метод
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyebrow/4.png" alt="">
                </div>
                <div class="button service-el_button">
                    Пиксельное напыление
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyebrow/5.png" alt="">
                </div>
                <div class="button service-el_button">
                    Метод теневой растушевки
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyebrow/6.png" alt="">
                </div>
                <div class="button service-el_button">
                    Смешанная техника
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyebrow/7.png" alt="">
                </div>
                <div class="button service-el_button">
                    Татуаж бровей с растушевкой
                </div>
            </div>
        </div>
        <div class="service-block_title">
            Татуаж губ
        </div>
        <div class="service-block">
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/lips/1.png" alt="">
                </div>
                <div class="button service-el_button">
                    Татуаж губ
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/lips/2.png" alt="">
                </div>
                <div class="button service-el_button">
                    Татуаж губ 3D
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/lips/3.png" alt="">
                </div>
                <div class="button service-el_button">
                    Контурный метод с растушёвкой
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/lips/4.png" alt="">
                </div>
                <div class="button service-el_button">
                    Полное заполнение
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/lips/5.png" alt="">
                </div>
                <div class="button service-el_button">
                    Цветокоррекция
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/lips/6.png" alt="">
                </div>
                <div class="button service-el_button">
                    Эффект помады
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/lips/7.png" alt="">
                </div>
                <div class="button service-el_button">
                    Аварельная растушёвка
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/lips/8.png" alt="">
                </div>
                <div class="button service-el_button">
                    Бесконтурный татуаж губ
                </div>
            </div>
        </div>
        <div class="service-block_title">
            Татуаж век
        </div>
        <div class="service-block">
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyelid/1.png" alt="">
                </div>
                <div class="button service-el_button">
                    Татуаж век
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyelid/2.png" alt="">
                </div>
                <div class="button service-el_button">
                    Межресничный татуаж век
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyelid/3.png" alt="">
                </div>
                <div class="button service-el_button">
                    Стрелка
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/eyelid/4.png" alt="">
                </div>
                <div class="button service-el_button">
                    Теневая растушёвка
                </div>
            </div>
        </div>
        <div class="service-block_title">
            Другое
        </div>
        <div class="service-block">
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/other/1.png" alt="">
                </div>
                <div class="button service-el_button">
                	Удаление татуажа
                	лазером
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/other/2.png" alt="">
                </div>
                <div class="button service-el_button">
                	Биотатуаж хной
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/other/3.png" alt="">
                </div>
                <div class="button service-el_button">
                	Коррекция татуажа
                </div>
            </div>
            <div class="service-el">
                <div class="service-el_img">
                    <img src="./images/services/other/4.png" alt="">
                </div>
                <div class="button service-el_button">
                	Консультация
                </div>
            </div>
        </div>

        {% include "components/consultation/consultation.html" %}
    </div>
</div>
