<div class='signWrapper' id='link3'>
	<div class='container'>
		<div class='signTitle'>
			Оставьте нам свой телефон, мы позвоним и расскажем Вам обо всех детелях.
		</div>
		{% if city === msc %}<form action='' class='fullForm signForm' onsubmit='yaCounter46932300.reachGoal("formSended", function () {
    	console.log("Данные успешно отправлены")}); return true;'>{% endif %}
		{% if city === ekb %}<form action='' class='fullForm signForm' onsubmit='yaCounter46932273.reachGoal("formSended", function () {
    	console.log("Данные успешно отправлены")}); return true;'>{% endif %}
			<div class='signBlock'>
				<label for='signName'>
					<input placeholder="Ваше имя" class="inputForm" id="signName" name="name" type="text" required>
				</label>
				<label for='signTel'>
					<input data-inputmask="'alias': 'phoneru'" placeholder="+7 (___) ___-__-__" class="input" name="phone" id='signTel' minlength="10" type="tel" required>
				</label>

				<input type="hidden" name="utm_source">
				<input type="hidden" name="utm_medium">
				<input type="hidden" name="utm_campaign">
				<input type="hidden" name="form_name" value="Форма в топ меню - запись">
				<button type='submit' class='button'>
					Отправить
				</button>
			</div>

			<label class='signCheckbox'>
                <input type='checkbox' class='checkbox checkbox-valid' required>
				<span>Соглашаюсь с условиями публичной оферты</span>
			</label>
		</form>
	</div>
</div>