<div class='studio-wrapper'>
	<div class='container'>
		<div class='studio-title'>
			О нашей студии
		</div>
		<div class='studio-descr'>
			Мы - самая крупная, специализированная студия татуажа (перманентного макияжа) в Екатеринбурге и Свердловской области. За все время нашей работы мы сделали татуаж более 5000 клиентам. Каждый мастер имеет художественное и медицинское образования. Все мастера у нас профессионалы. У нас есть медицинская лицензия и мы соблюдаем нормы СЭС. К клиентам мы относимся как к друзьям. Вы получите качественный татуаж и приятное общение.
		</div>
		
		<div class='fancy-box'>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/1.jpg'>
				<img src='./images/studio/1_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/2.jpg'>
				<img src='./images/studio/2_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/3.jpg'>
				<img src='./images/studio/3_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/4.jpg'>
				<img src='./images/studio/4_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/5.jpg'>
				<img src='./images/studio/5_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/6.jpg'>
				<img src='./images/studio/6_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/7.jpg'>
				<img src='./images/studio/7_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/8.jpg'>
				<img src='./images/studio/8_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/9.jpg'>
				<img src='./images/studio/9_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/10.jpg'>
				<img src='./images/studio/10_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/11.jpg'>
				<img src='./images/studio/11_th.jpg' alt=''>
			</div>
			<div class='studio-image' data-fancybox='studio' data-type="image" href='./images/studio/12.jpg'>
				<img src='./images/studio/12_th.jpg' alt=''>
			</div>
		</div>
	</div>
</div>