<div class="container">
    <div class="subscribe-wrapper justify-center">
        <div class="subscribe-el">
            <ul class="ul">
                <li class="li">
                    Мы делаем брови и губы или веки идеальными за 1.5 часа на целый год
                </li>
                <li class="li">
                    Мы сделали более 25 000 процедур
                </li>
            </ul>
            <ul class="ul">
                <li class="li">
                    Материалы премиального уровня
                </li>
                <li class="li">
                    Стерильные инструменты и одноразовые расходники
                </li>
            </ul>
        </div>
        <div class="subscribe-line">
        </div>
        <div class="subscribe-el flex-column flex-grow">
            <div class="subscribe-us">
                Подпишись на нас
            </div>
            <div class="subscribe-links">
                <a class="subscribe-link" href="/"><img src="./images/subscribe/1.png" alt=""></a>
                <a class="subscribe-link" href="/"><img src="./images/subscribe/2.png" alt=""></a>
                <a class="subscribe-link" href="/"><img src="./images/subscribe/3.png" alt=""></a>
                <a class="subscribe-link" href="/"><img src="./images/subscribe/4.png" alt=""></a>
                <a class="subscribe-link" href="/"><img src="./images/subscribe/5.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
