<header class='header-wrapper wrapper'>
	<div class='container header-container'>
		<div class='logo'>
			<a href='/'>
				<img src='./images/logo.png' alt=''>
			</a>
		</div>
		
		<div class='header-menu'>
			{% for headerItem in city.headerMenu %}
                <div class='header-menu_el'
                     {{ "data-scroll-to=" + "#id" + loop.index if headerItem.hasScroll}}
					 {{ "data-link-to=" + "#link" + loop.index if headerItem.hasLink}}>{{ headerItem.value }}</div>
			{% endfor %}
		</div>
		
		<div class='header-info'>
			<div class='header-info_text' data-link-to="#link3">
				Бесплатная
				консультация
			</div>
			<div class='header-line'></div>
			<div class='header-info_phones'>
				<a href='tel:{{city.phone[0].phone}}'>{{ city.phone[0].phone }}</a>
				<a href='tel:{{city.phone[0].phone1}}'>{{ city.phone[0].phone1 }}</a>
			</div>
		</div>
	</div>
</header>
