.collective-wrapper
{
    position: relative;

    padding: 50px 0;

    background-color: #833582;
    background-image: linear-gradient(117deg, #8f378b 0%, #b42490 100%);

    &:before
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        background-image: url('../images/collective/collective-bg.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    @include media-context(('custom': 678px)) {
        @include media("<=custom") {
            padding: 25px 0;
        }
    }
}
.collective-title
{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;

    text-align: center;

    color: #fff;
    z-index: 1;
    position: relative;
}
.collective-carousel {
    position: relative;
    z-index: 1;

    margin-top: 50px;
    .slick-slide {
        text-align: center;
    }
    .slick-next {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAeCAYAAAAhDE4sAAAB5klEQVRIS53VyeuNYRjG8e9lXlCSiCxYGJIoSsiYzCGz/1DmaYNSykJZWFCUpIyZYmGIyKXr103v4Qzv696cxen+dL3PcD+yPR7YBMwALkr6zn+UbK8GdlfvvcJ+dLUCzQf2VaL03wfOSeqEKZ22ZwNHgJmV5FFhX9omG4MKmwUcBvKbegyckdQK+wMVlgVPsjmFPQNOSfo4KlkPVNh04Cgwt5pfVrL3w7B/oMKmAseBeW2xvlBh04CDwILCXgOnJb3rl2wgVNgU4BCwsJrfFvbmb2woVNiESra0mrNW2YBXTWwkVNikOrTLqvlDbcCL31grqLBxwH5gRTV/Ak5KyhGhNdT4zF3AqsI+12c+6QQ1sHXAlgryFbjWGSpsEXAMyAhK3egM2V4J7Gkg1yXd7ATZXgtsA7LwqauSbnVabNtZl+0F/ASuSLrdafttrwe2Nnb5kqQ7rQ+k7XzCZmBjNWWeX5Z0t9MVsZ0UG6rpG3BB0oNOl9b2TmBNAzkr6WE/pO9i1+cEyeuSynQ8Lymjd2D1m5B7G1cg9ykvylCkJ5HtiUCQ5Y0kGWRPhyXp2X7bk4EDwJL6I2Mia/K8DTKWyHbmc5IsbiBJkqHfugLltObUpjL9TkjKSO1UgfL87Kgne+BwH6X+AtjXrIu8Ss7UAAAAAElFTkSuQmCC") no-repeat;
    }
    .slick-prev {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAeCAYAAAAhDE4sAAAB8UlEQVRIS52V2auNcRSGn1dEhgsyZSxJUVy4UC6UUrgxT/kPzeJ0OOhkbJM6iiTDhRsRSYoL86v1tb7TPnv4hr1qt2++9fSu6f2JEcP2HOAQ8AW4q1E4tmcnZGvmX2sNSshRYEtCQtHVViDb84GAbEzIZ+C8pI+NQQk5DmxIyCfggqT4pxHI9iLgJLA2IR9SSZRVRC3I9hIglKzKnPfAOUlfuwdVCRoAeQeckfS9d9pDQbaXAieAFZn0Frgk6duglRkIsr08Icsy6Q1wUdKPYXvXB7K9MhsbvYl4kUr+VC3vDJDt1dnYxZn0vFg26VfdBUyDbMdoTwELM+kpcEXSvzrI9Phtr89yFmTSFHBdUmU5M8ZvezuwF5gHGLgNdNpACkW2dwPxi/gLnJX0ukk5fQtpexewpws2LulJG1h3s3cC+zI5GnxL0sOmsN7x7wD2A7MScFNSpwls0EJG8w9mcjR/UtKDOtiwE9kGHADClyPuAXeqdqrqaDcDh4G5CbsvaXKYsjob2QQc64I9kjQxCNbE2MJajwDhkhGPgYneMmtBkWk7YGH65R1OSRrrW8i6iSRsXXpUqewZMCbpd3EiTSDlN7bXZM9Km3kJXJb0sxUolcUjEBZcwl4Vytoo6lIWFnwaKF20MxIolZWPQ7xtN/4DnZupyDfRCFIAAAAASUVORK5CYII=") no-repeat;
    }
    .slick-dots li.slick-active button:before {
        background-color: white;
    }
    .slick-track {
        align-items: flex-start;
    }
}
.col-item {
    text-align: center;
    max-width: 207px;
    margin: 0 auto;

    &.ekb {
        .col-img img {
            top: -17px;
        }
    }
}
.col-prof {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.col-name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
/*    color: #ffffff;
    font-size: 14px;
    font-weight: 400;*/
}
.col-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    line-height: 18px;
}
.col-img {
    width: 207px;
    height: 207px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
    img {
        top: -30px;
        left: 0;
        position: absolute;
    }
}
.col-sep {
    width: 72px;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.1;
    margin: 10px auto 15px auto;
}