.collective-wrapper
{
    position: relative;

    padding: 50px 0;

    background-color: #833582;
    background-image: linear-gradient(117deg, #8f378b 0%, #b42490 100%);

    &:before
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        background-image: url('../images/collective/collective-bg.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    @include media-context(('custom': 678px)) {
        @include media("<=custom") {
            padding: 25px 0;
        }
    }
}
.collective-title
{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;

    text-align: center;

    color: #fff;
    z-index: 1;
    position: relative;
}
.collective-carousel {
    position: relative;
    z-index: 1;

    margin-top: 50px;
}
.col-item {
    text-align: center;
}
.col-prof {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.col-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}
.col-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    line-height: 15px;
}
.col-img {
    margin-bottom: 15px;
}
.col-sep {
    width: 72px;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.1;
    margin: 10px auto 15px auto;
}