.vkFolio {
  height: 90vh;
  overflow: auto;
}
.vkFolio-wrapper {
  width: calc(100% - 222px);
  padding: 40px 30px 0 30px;

  .slick-next,
  .slick-prev {
    top: 46%;
  }
  .slick-prev {
    left: 6px;
  }
  .slick-next {
    right: 6px;
  }
  .slick-slide {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  @include media("≥phone", "≤tablet") {
    width: calc(100% - 122px);
  }
}
.vkFolio-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  overflow: hidden;
}
.vkFolio-item {
  max-width: 210px;
  height: 150px;
  overflow: hidden;
  margin: 5px;
  display: flex!important;
  align-items: center;
  cursor: pointer;
  @include media("≥phone", "≤tablet") {
    margin: 0;
  }
}
.folioBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  min-width: 222px;
  max-width: 222px;
  height: 431px;

  position: relative;

  &.bOne {
    background-image: url("../images/folio/1.png");
    background-repeat: no-repeat;
  }
  &.bTwo {
    background-image: url("../images/folio/2.png");
    background-repeat: no-repeat;
  }
  &.bThree {
    background-image: url("../images/folio/3.png");
    background-repeat: no-repeat;
  }

  .bFolio {
    margin-top: auto;
    margin-bottom: 60px;
    @include media("≥phone", "≤tablet") {
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 40px;
      font-size: 12px;
      max-width: 90%;
    }
  }

  @include media("≥phone", "≤tablet") {
    min-width: 122px;
    max-width: 122px;
    height: 244px;
    background-size: contain;
  }
}
.folioBanner-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 30px 0 20px 30px;
  @include media("≥phone", "≤tablet") {
    font-size: 24px;
    margin-left: 10px;
  }
}
.folioBanner-price {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-right: auto;
  margin-left: 30px;
  @include media("≥phone", "≤tablet") {
    font-size: 16px;
    margin-left: 10px;
  }
}