.how-work {
  display: flex;
  justify-content: center;
  margin: 40px 0;

  .how-work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    font-size: 16px;
    text-align: center;

    img {
      margin-bottom: 10px;
    }
  }

  @include media-context(('custom': 678px)) {
    @include media("<=custom") {
      flex-wrap: wrap;
      justify-content: space-between;
      .how-work-item {
        margin: 0;
      }
    }
  }
}
.footer-text {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 25px 0;
}