.header-wrapper {
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu_el {
  margin: 0 9px;

  text-decoration: none;

  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
}

.header-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
}
.header-info_text {
  color: #010101;
  font-weight: 300;
  max-width: 150px;
  text-align: right;
}
.header-info_phones {
  display: flex;
  flex-direction: column;
  a {
    color: #010101;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.header-line {
  width: 1px;
  height: 39px;
  background-color: #dddddd;

  margin: 0 14px;
}