.modalWrapper {
  max-width: 400px;
  display: none;
}
.modalForm-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
}
.modalForm {
  display: flex;
  flex-direction: column;

  button {
    max-width: 80%;
    margin: 0 auto;
  }
}
.formInput {
  line-height: 30px;
  font-size: 22px;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  margin: 15px auto;
  display: block;
  outline: none;
  &::placeholder {
    color: #cdcdcd;
  }
}