.signWrapper {
  position: fixed;
  top: -100%;
  width: 100%;
  background-color: white;
  padding: 15px 0;
  z-index: 2;
}

.signForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signTitle {
  text-align: center;
  font-weight: 500;
}

.signBlock {
  margin: 15px 0;

  input {
    margin: 0 15px;
  }

  @include media("≥phone", "≤tablet") {
    display: flex;
    flex-direction: column;

    > * {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.signCheckbox {
  margin: 5px 0 0 0;
}

input[type=checkbox] {
  cursor: pointer;
  position: relative;
  visibility: hidden;
  margin: 0 16px;
}

input[type="checkbox"]:after {
  border: 1px solid #166B94;
  border-radius: 3px;
  color: #fff;
  content: "";
  display: block;
  height: 16px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  visibility: visible;
  width: 16px;
}

input[type=checkbox]:checked:after {
  border: 1px solid #979797;
  color: #979797;
  content: "✓";
}

input[type=checkbox]:checked + label {
  color: #979797;
  font-weight: normal;
  text-decoration: line-through;
}

.signCheckbox {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: end;
}

.containerFlex {
  display: flex;
  overflow: hidden;

  .leftSide,
  .rightSide {
    width: 50%;
  }
}

.contactIcon {
  margin-bottom: 10px;
  position: relative;
  padding-left: 35px;
  line-height: 20px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url("../images/contacts-icons.png");
    background-repeat: no-repeat;
  }
}

.contactLoc {
  color: #2f2f2f;
  text-decoration: none;
  display: block;

  &:hover {
    text-decoration: underline;
  }
  &:before {
    background-position: 0 0;
  }
}

.contactTime {
  margin-bottom: 20px;
  &:before {
    background-position: 0 -63px;
  }
}
.contactPhoneWrapper {
  line-height: 25px;
  margin-bottom: 5px;
}
.contactsPhones {
  margin-bottom: 10px;
}
.contactPhone {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #010101;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    background-position: 0 -41px;
  }
}
.contactInfo {
  margin-left: 35px;
}
