.why-title
{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;

    text-align: center;

    color: #fff;
    z-index: 1;
    position: relative;
}
.why-descr
{
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;

    text-align: center;

    color: #fffefe;
    z-index: 1;
    position: relative;
}
.why-wrapper
{
    position: relative;

    padding: 35px 0;

    background-color: #833582;
    background-image: linear-gradient(117deg, #843483 0%, #9b186d 100%);
    background-repeat: no-repeat;


    &:before
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        background-image: url('../images/why/why-bg.png');
        background-position: center center;
    }
    @include media-context(('custom': 678px)) {
        @include media("<=custom") {
            padding: 25px 0;
        }
    }
}
.why-block
{
    z-index: 1;
    position: relative;
    display: flex;

    flex-wrap: wrap;
    .why-el
    {
        display: flex;
        flex-direction: column;

        max-height: 110px;
        margin: 25px auto;

        text-align: center;

        flex-basis: 33.33%;

        @include media-context(('custom': 678px)) {
            @include media("<=custom") {
                flex-basis: 50%;
                max-height: none;
            }
        }
    }
}
.why-el_descr
{
    font-size: 16px;
    font-weight: 300;

    color: #fff;
}
.why-el_img
{
    display: flex;
    flex-direction: column;

    height: 65px;
    margin-bottom: 17px;

    justify-content: center;
    align-items: center;
    img
    {
        max-width: 100%;
    }
}
.why-h25
{
    height: 25px;
    @include media-context(('custom': 678px)) {
        @include media("<=custom") {
            display: none;
        }
    }
}
