@import 'normalize';
@import 'base/typography';

html
{
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
}

*
{
    box-sizing: border-box;
}

.wrapper
{
    display: flex;
    flex-direction: column;
}

.container
{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 33px;
    padding-left: 33px;
}

.flex-column {
    flex-direction: column;
}
.flex-grow {
    flex-grow: 1;
}
.justify-center {
    justify-content: center;
}

@import 'header';
@import 'consultation';
@import 'subscribe';
@import 'why';
@import 'services';
@import 'collective';
@import 'med';
@import 'studio';
@import 'button';
@import 'footer';
@import 'fancy';
